.semesters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .semesters-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%; 
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #F8F8F8 !important;
  border-radius: 8px;
  width: 226px;
  margin: 20px auto;
}

.semesterCount {
  display: flex;
  align-items: baseline;
  gap: var(--XS, 8px);
}

.title {
  color: var(--Primary-Text, #000);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.counter {
  background-color: #E7E7E7;
  color: var(--Primary-Text, #000);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding: 4px 6px;
  border-radius: 4px;
}

.classContainer {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 8px;
  text-align: left;
  min-height: 92px;
  cursor: grab;
  position: relative;
}

.classContainer:hover {
  background-color: #e0e0e0;
}

.classContainer:active {
  cursor: grabbing;
}

.classContainer.dragging {
  opacity: 0.6;
  transform: scale(0.95);
}

.classTitle {
  color: var(--Primary-Text, #000);
  align-items: flex-start;
  width: 100%;
  font-family: "Inter Variable";
  font-size: 12px;
  margin: 0;
  padding-left: 16px;
  padding-top: 16px;
  font-style: normal;
  font-weight: 500;
}

.units {
  color: var(--Secondary-Text, #8A8A8A);
  font-family: "Inter Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding-left: 16px;
  padding-top: 2px;
}

.class-placeholder {
  width: 100%;
  height: 92px;
  background-color: #e0e0e0;
  border-radius: 8px;
  margin: 8px;
}

.dropDownBtn {
  width: 32px;
  height: 16px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.classContainer:hover .dropDownBtn {
  opacity: 1;
}

.three-dot-menu {
  border-radius: var(--XXS, 4px);
  background: var(--White, #FFF);
  box-shadow: 0px 8px 12px 0px rgba(60, 66, 87, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.30);
  padding: var(--XS, 8px);  
}

.menu-item {
  cursor: pointer;
}

.menu-item:hover {
  background-color: #bfdbfe;
}

.add-button {
  font-size: 14px;
  background-color: #F8F8F8 !important;
  color: black !important;
}

.semesters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}