:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #FFF;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-size: 0.875em; 
    font-weight: 500;
    color: var(--Blue, #2F80ED);
    text-decoration: inherit;
  }
  a:hover {
    color: var(--Hover-A, #0069D9);
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }   

  h1 {
    font-size: 1.25em; 
    font-style: normal;
    font-weight: 580;
    
   }

  h2 {
    font-size: 1em; 
    font-style: normal;
    font-weight: 580;
  
  }

  p {
    font-size: 0.875em; 
  }

  .primary-text {
    font-size: 0.875em; 
    font-style: normal;
    font-weight: 400;
  }

  .secondary-text {
    color: var(--Secondary-Text, #8A8A8A);
    font-style: normal;
    font-weight: 400;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #FFF;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }